*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;

  
}
#main-header {
	background:#fb9404;
	color: #fb9404;


}
nav{
    flex: 1;
    text-align: right;
 
}
nav ul{
    display: inline-block;
    list-style-type: none;
 

}
nav ul li{
    display: inline-block;
    color: #ff0000;
    font-family:'Montserrat', sans-serif ;
    margin-top: 40px;
    margin-right: 20px;
   
   
 
    
}
nav a{
    color: #ff0000;
    font-family:'Montserrat', sans-serif ;
    font-size: 20px;
}
body {
    font-family: 'Montserrat', sans-serif ;
    overflow-x: hidden; }
    body {
        background-color: #a2dfe0
    }
    
    .container {
        height: 100vh
    }
    
    .card {
        background-color: #c1e8ed;
        width: 400px;
        padding: 10px;
        border: 1px solid #eee
    }
    
    .inner-card {
        background: #fff;
        padding: 10px;
        border-radius: 5px
    }
    
    .heart {
        cursor: pointer;
        height: 35px;
        width: 35px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #beb4aa;
        border-radius: 50%;
        background-color: #eee
    }
    
    .btn:focus {
        color: #fff;
        background-color: #025ce2;
        border-color: #0257d5;
        box-shadow: none
    }
    
    footer {
        color: white;
        margin-top: 10px;
 }
 footer p, a {
font-size: 12px;
font-family: 'Montserrat', sans-serif;
margin-top: 20px;
}
footer h6 {
font-family: 'Montserrat', sans-serif;
margin-bottom: 40px;
position: relative;
margin-top: 20px;
}
footer h6:after {
position: absolute;
content: "";
background: white;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
margin-top: 20px;
}
 .btn-footer {
             color: white;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 0px 0px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 0px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#ff7b00;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: white;
font-size: 22px;
padding: 0px 0px;
background: #3c3c3c;
}
 footer ul li {
     margin-top: 10px;
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: white;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid white;
height: 50%;
display: block;

}